/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-family: "IBM Plex Mono";
  --background-image: url(../images/cover-image-light.png);
  --background-color: #ffeff6;
  --list-title-color: #353430;
  --title-decor: #FF8DCB;
  --rec-color: #353430;
  --title-shadow: #ff0070;
  --link-shadow: #ff8dcb; /*title-decor*/
  --markup-color: #353430;
  --section-title-color: #353430;
  --title-color: #ffc2e6;
  --main-text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  
  .page.theme_light .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: "IBM Plex Mono";
    --background-image: url(../images/cover-image-light.png);
    --background-color: #ffeff6;
    --list-title-color: #353430;
    --title-decor: #FF8DCB;
    --rec-color: #353430;
    --title-shadow: #ff0070;
    --link-shadow: #ff8dcb;
    --markup-color: #353430;
    --section-title-color: #353430;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
  }
 .header__rec {
    display: none;
  }
}
